@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;700&display=swap");

#body {
  background-color: #faf8f6;
}

#button1 {
  background-color: white;
  border-color: #172339;
  cursor: pointer;
}

#button1:hover {
  background-color: #172339;
  color: white;
}

/* styling the main content */
#button2 {
  background-color: #172339;
  color: white;
  cursor: pointer;
}

#button2:hover {
  background: linear-gradient(135deg, #a060ff 0%, #cb30e3 49.21%, #ffa84e 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: white;
}

#main-text-1 {
  position: absolute;
  font-family: Epilogue;
  font-weight: 700;
  font-size: 54px;
  line-height: 70px;
  letter-spacing: -1px;
  color: #172339;
}

#main-text-2 {
  margin-top: 18rem;
  font-family: Epilogue;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #49566d;
}

#line {
  margin-left: 14rem;
  width: 13rem;
}



#image-hero {
  width: 350px;
  height: 600px;
}
#main-text-3 {
  margin-top: 9rem;
}

#header-4 {
  color: #172339;
  font-family: Epilogue;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.5px;
}

#header-6 {
  color: #49566d;
  font-family: Epilogue;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 2.5px;
}

/* styling jeremy and text */
#main2-text {
  background-color: #172339;
  margin-top: 13rem;
  position: absolute;
  padding-left: 12rem;
  margin-left: 7.4rem;
  width: 85%;
  height: 30rem;
  align-items: center;
  border-radius: 0.7rem;
}

#line2 {
  padding-right: 3rem;
}

#jeremy1 {
  width: 359.81px;
  height: 589.56px;
}

#jeremy {
  margin-top: 6rem;
  padding-left: 10rem;
  position: absolute;
  z-index: 1;
}

#works {
  font-family: Epilogue;
  font-style: normal;
  font-weight: 400;
  line-height: 56px;
  letter-spacing: -0.5px;
  font-size: 48px;
}

#works-text {
  font-family: Epilogue;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: -0.1px;
  font-size: 20px;
  color: #f3ede7;
}

#rob {
  font-family: Epilogue;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.18px;
  font-size: 18px;
  color: #faf8f6;
}

#cmo {
  font-family: Epilogue;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 2.5px;
  font-size: 16px;
  color: #f3ede7;
}

/* styling for footer */

#footer {
  background-color: #f3ede7;
  display: flex;
  margin-top: 32rem;
  height: 25rem;
  justify-content: space-around;
  align-items: end;
  padding-bottom: 5rem;
}

#copyright {
  font-family: Epilogue;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 32px;
}

#facebook {
  cursor: pointer;
}

#facebook:hover {
  background: #172339;
  mix-blend-mode: normal;
  opacity: 0.5;
}

#twitter {
  cursor: pointer;
}

#twitter:hover {
  background: #172339;
  mix-blend-mode: normal;
  opacity: 0.5;
}

#instagram {
  cursor: pointer;
}

#instagram:hover {
  background: #172339;
  mix-blend-mode: normal;
  opacity: 0.5;
}

@media screen and (max-width: 768px) {
  #main-text-3 {
    display: flex;
    justify-content: center;
  }

  #image-hero {
    width: 281px;
    height: 428px;
  }

  #main-text-1 {
    font-size: 50px;
  }

  #jeremy1 {
    width: 220px;
    height: 330px;
  }

  #jeremy {
    margin-top: 2.5rem;
    padding-bottom: 2rem;
    padding-left: 18rem;
    position: absolute;
    z-index: 1;
  }

  #main2-text {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    height: 46rem;
    margin-left: 3rem;
  }

  #works {
    font-family: "Epilogue";
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 48px;
    text-align: center;
    color: #faf8f6;
  }

  #works-text {
    font-family: "Epilogue";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.09px;
  }

  #rob {
    text-align: center;
    font-size: 15px;
  }

  #cmo {
    text-align: center;
    font-size: 13px;
  }

  #j1 {
    margin-right: 9rem;
    margin-bottom: 0.9rem;
  }

  #j2 {
    margin-right: 9rem;
    width: 20rem;
  }

  #footer {
    background-color: #f3ede7;
    display: flex;
    margin-top: 36rem;
    height: 38rem;
    justify-content: space-around;
    align-items: end;
    padding-bottom: 5rem;
  }
}

@media screen and (max-width: 574px) {
  #main-text-3 {
    justify-content: center;
  }

  #button2 {
    width: 18rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  #image-hero {
    width: 281px;
    height: 428px;
  }

  #main-text-1 {
    font-size: 40px;
  }

  #line {
    margin-left: 10rem;
    width: 7rem;
  }

  #jeremy1 {
    width: 180px;
    height: 280px;
  }

  #jeremy {
    margin-top: 5rem;
    padding-bottom: 1rem;
    padding-left: 11rem;
    position: absolute;
    z-index: 1;
  }

  #works-text {
    font-size: 12px;
  }

  #works {
    font-size: 23px;
  }

  #rob {
    font-size: 10px;
  }

  #cmo {
    font-size: 10px;
  }
}

@media screen and (max-width: 443px) {
  #main-text-3 {
    display: column;
    justify-content: center;
  }

  #image-hero {
    margin-top: 3rem;
    width: 381px;
    height: 258px;
    margin-bottom: -3rem;
  }

  #main-text-1 {
    font-size: 45px;
    text-align: center;
    line-height: 3rem;
  }

  #main-text-2{
    margin-top: 12rem;
  }

  #button2 {
    width: 18rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  #button1 {
    width: 15rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  #line {
    width: 11rem;
    margin-left: 11rem;
  }
  #line2 {
    margin-left: 3rem;
    width: 8rem;
  }
  #header-4 {
    font-size: 25px;
    margin-right: 2rem;
  }

  #header-6 {
    font-size: 10px;
  }

  #main-text-3 {
    display: flex;
    flex-direction: column;
    margin-left: 4rem;
    margin-bottom: 3rem;
    padding-left: 3rem;
  }

  #jeremy1 {
    width: 150px;
    height: 240px;
   
  }

  #jeremy {
    margin-top: 8rem;
    padding-bottom: 0.3rem;
    padding-left: 10rem;
    position: absolute;
    z-index: 1;
  }

  #j1 {
    margin-right: 14rem;
    margin-bottom: 0.9rem;
  }

  #j2 {
    margin-right: 13rem;
    width: 14rem;
  }

  #footer {
    background-color: #f3ede7;
    display: flex;
    flex-direction: column;
    margin-top: 58.7rem;
    height: 18rem;
    align-items: center;
    padding-bottom: 5rem;
  }

  #main2-text {
    background-color: #172339;
    width: 85%;
  }
}
