@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;700&display=swap');


.main {
    background-color: #FAF8F6;
  }
  
  /* Styling the nav elements */
  .nav {
    display:flex;
    justify-content: space-between;
    padding-left: 5rem;
    padding-right: 5rem;
  }
  
  .logo1 {
    height: 1.5rem;
  }
  
  .butto1 {
    padding: 6px 6px 6px 6px;
    border-radius: 5px;
    border-style: none;
    width: 219px;
  }
  
  .butto1:hover {
    background-color:#172339 ;
    color: white;
  }
  
  
  /* styling the section one */
  .section-one {
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    margin-top: 4rem;
  
    margin-bottom: 4rem;
  }
  
  .one {
    margin-left: 6rem;
    position: absolute;
    z-index: 2;
  }
  
  .image-hero {
    padding-left: 37rem;
   
  }

  .two {
    height: 600px;
  }
  
  .text-one {
    font-family: Epilogue;
    font-weight: 400;
    font-size: 72px;
    color:#172339;
  }
  
  .text-two {
    font-family: Epilogue;
    font-weight: 400;
    font-size: 18px;
    color: #49566D;
  }
  

  .line{
    padding-left: 18rem;
    width: 290px;
    margin-top: 2rem;
  }
  
  .butto2 {
    margin-top: 2rem;
    padding: 6px 6px 6px 6px;
    border-radius: 5px;
    border-style: none;
    background-color: #172339;
    color: white;
    width: 256px;
  }
  
  .butto2:hover {
    background: linear-gradient(135deg, #A060FF 0%, #CB30E3 49.21%, #FFA84E 100%); 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: white;
  }
  
  .three {
    padding-left: 11rem;
    margin-top: 5rem;
  }
  
  .num {
    position: relative;
    font-family: Epilogue;
    font-weight: 700;
    font-size: 48px;
    line-height: 7px;
    letter-spacing: -0.3;
    color: #172339;
  }

  .num-text {
    z-index: 2;
    font-style: normal;
    font-family: Epilogue;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 2.5px;
    color: #49566D;
    margin-bottom: 14rem;
  }

  .three-1 {
    width:198px;
    height: 83px;
    top: 279px;
  }

  .three-2 {
    width:198px;
    height: 83px;
    top: 425px;
  }
  .three-3 {
    width:198px;
    height: 83px;
    top: 571px;
  }

  .third-t {
    font-family: Epilogue;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
   color: #FAF8F6;
   line-height: 32px;
  }

  .fouth-t {
    font-family: Epilogue;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color:  #F3EDE7;
  }

  @media screen and (max-width: 1023px){
    .text-one {
      font-size: 50px;
    }
  
    .image-hero {
      padding-left: 17rem;
    }
  
    .line {
      padding-left: 12rem;
      width: 10rem;
    }
  }
  
  /* Tablet */
  @media screen and (max-width: 768px){
    .text-one {
      font-size: 40px;
    }
  
    .image-hero {
      padding-left: 20rem;
      height: 30rem;
    }
  
    .section-one {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      margin-top: 4rem;
    }
  
    .line{
      padding-left: 4rem;
      width: 200px;
      margin-top: 2rem;
    }
  
    .three {
      grid-row: 2 / 3;
      display: flex;
      justify-content: space-around;
    }
  }
  
  
  @media screen and (max-width: 620px){
    .text-one {
      font-size: 30px;
    }
  
    .image-hero {
      padding-left: 15rem;
      height: 25rem;
    }
  
    .section-one {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      margin-top: 4rem;
    }
  
    .line{
      padding-left: 7rem;
      width: 100px;
      margin-top: 2rem;
    }
  
    .three {
      grid-row: 2 / 3;
      display: flex;
      justify-content: space-around;
    }
  }
  
  @media screen and (max-width: 490px){
    .text-one {
      font-size: 20px;
      padding-right: 3rem;
    }
  
    .image-hero {
      padding-left: 6rem;
      padding-top: 2rem;
      height: 17rem;
    }
  
    .section-one {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      margin-top: 4rem;
    }
  
    .line{
      padding-left: 4rem;
      width: 80px;
      margin-top: 2rem;
    }
  
    .one {
      padding-right: 5rem;
    }
    .two {
      grid-row: 2 / 3;
     }
  
    .three {
      grid-row: 3 / 4;
      display: flex;
      justify-content: space-around;
    }
  
    .nav {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
  
  
  /* Styling Section two */
  
  .section-two {
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
    position:absolute;
    z-index: 2;
    width: 98%;
    height: 24.6rem;
    
  }
  
  .jeremy {
    position: absolute;
    z-index: 1;
    margin-left: 5rem;
    margin-bottom: 2rem;
    height: 550px;
  }
  
  .section-two-image {
    padding-bottom: 1rem;
  }
  
  .section-two-text {
    background-color:  #172339;
    width: 80%;
    z-index: -1;
    margin-top: 3rem;
    padding-bottom: 2rem;
    border-radius: 7px;
    height: 120%;
  }
  
  .texttwo {
    display: flex;
   
  }
  
  .curve-line-two {
    padding-left: 26rem;
    padding-top: 6rem;
    padding-right: 3rem;
  }
  
  
  .section-one-text {
    padding-top: 4rem;
  }
  
  .first-text {
    font-family: Epilogue;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
  }

  .second-text {
    font-family: Epilogue;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    letter-spacing: 0.1px;
  }

.third-text {
  position: absolute;
}



  /* styling footer */
  
  .footer {
    position: relative;
    z-index: 1;
    background-color: #F3EDE7;
    height: 23rem;
    display: flex;
    justify-content: space-around;
    align-items: end;
    margin-top: 30rem;
  }

 
  .footlogo {
    padding-bottom: 4rem;
  }
  
  .copyright {
    font-family: Epilogue;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 32px;
    padding-bottom: 2.5rem;
    color: #49566D;
  }
  
  .footer-icons {
    padding-bottom: 4rem;
  }